In [1]:
import pandas as pd
import numpy as np
import os

In [10]:
for csv in os.listdir(r"D:\Evolve\Project_Plant\Plant_Disease_Detection\NewCsv"):
    print(csv)

Maize fall armyworm_imgdf.csv
Maize grasshoper_imgdf.csv
Maize healthy_imgdf.csv
Maize leaf beetle_imgdf.csv
Maize leaf blight_imgdf.csv
Maize leaf spot_imgdf.csv
Maize streak virus_imgdf.csv
Tomato healthy_imgdf.csv
Tomato leaf blight_imgdf.csv
Tomato leaf curl_imgdf.csv
Tomato septoria leaf spot_imgdf.csv
Tomato verticulium wilt_imgdf.csv

In [2]:
csv_path = os.listdir(r"D:\Evolve\Project_Plant\Plant_Disease_Detection\NewCsv")

In [17]:
for csv in csv_path:
    data = pd.read_csv(rf"D:\Evolve\Project_Plant\Plant_Disease_Detection\NewCsv\{csv}")
    print(data.shape)

(285, 6402)
(673, 6402)
(206, 6402)
(938, 6402)
(998, 6402)
(1249, 6402)
(972, 6402)
(468, 6402)
(1294, 6402)
(514, 6402)
(2743, 6402)
(773, 6402)

In [4]:
data = pd.DataFrame()
data

Empty DataFrame
Columns: []
Index: []

In [5]:
for csv in csv_path:
    temp = pd.read_csv(rf"D:\Evolve\Project_Plant\Plant_Disease_Detection\NewCsv\{csv}")
    data = pd.concat([data,temp])

In [6]:
data

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,6391,6392,6393,6394,6395,6396,6397,6398,6399,label
0,0,182.0,181.0,184.0,189.0,193.0,189.0,177.0,174.0,167.0,...,117.0,110.0,91.0,78.0,77.0,66.0,64.0,80.0,97.0,Maize fall armyworm
1,0,182.0,181.0,181.0,183.0,184.0,188.0,190.0,193.0,193.0,...,99.0,100.0,93.0,97.0,101.0,104.0,99.0,97.0,90.0,Maize fall armyworm
2,0,113.0,112.0,108.0,98.0,88.0,95.0,106.0,119.0,132.0,...,139.0,132.0,129.0,129.0,125.0,121.0,115.0,110.0,111.0,Maize fall armyworm
3,0,119.0,118.0,115.0,111.0,111.0,111.0,110.0,110.0,111.0,...,69.0,64.0,49.0,32.0,23.0,28.0,41.0,53.0,62.0,Maize fall armyworm
4,0,77.0,81.0,88.0,87.0,90.0,94.0,71.0,56.0,59.0,...,70.0,67.0,71.0,74.0,75.0,65.0,44.0,36.0,41.0,Maize fall armyworm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,0,186.0,187.0,186.0,187.0,186.0,185.0,186.0,186.0,186.0,...,168.0,165.0,167.0,166.0,170.0,171.0,169.0,174.0,173.0,Tomato verticulium wilt
769,0,230.0,232.0,231.0,230.0,226.0,230.0,230.0,233.0,230.0,...,210.0,209.0,208.0,207.0,207.0,206.0,205.0,205.0,202.0,Tomato verticulium wilt
770,0,199.0,194.0,201.0,200.0,200.0,196.0,200.0,102.0,87.0,...,179.0,176.0,180.0,179.0,179.0,180.0,166.0,173.0,174.0,Tomato verticulium wilt
771,0,75.0,51.0,94.0,105.0,132.0,212.0,214.0,215.0,214.0,...,172.0,185.0,190.0,189.0,189.0,192.0,193.0,191.0,193.0,Tomato verticulium wilt
772,0,187.0,188.0,186.0,183.0,184.0,185.0,183.0,185.0,184.0,...,181.0,178.0,177.0,177.0,177.0,180.0,174.0,180.0,178.0,Tomato verticulium wilt

In [21]:
data.drop("Unnamed: 0", axis=1, inplace=True)

In [22]:
data

,0,1,2,3,4,5,6,7,8,9,...,6391,6392,6393,6394,6395,6396,6397,6398,6399,label
0,182.0,181.0,184.0,189.0,193.0,189.0,177.0,174.0,167.0,155.0,...,117.0,110.0,91.0,78.0,77.0,66.0,64.0,80.0,97.0,Maize fall armyworm
1,182.0,181.0,181.0,183.0,184.0,188.0,190.0,193.0,193.0,185.0,...,99.0,100.0,93.0,97.0,101.0,104.0,99.0,97.0,90.0,Maize fall armyworm
2,113.0,112.0,108.0,98.0,88.0,95.0,106.0,119.0,132.0,147.0,...,139.0,132.0,129.0,129.0,125.0,121.0,115.0,110.0,111.0,Maize fall armyworm
3,119.0,118.0,115.0,111.0,111.0,111.0,110.0,110.0,111.0,111.0,...,69.0,64.0,49.0,32.0,23.0,28.0,41.0,53.0,62.0,Maize fall armyworm
4,77.0,81.0,88.0,87.0,90.0,94.0,71.0,56.0,59.0,48.0,...,70.0,67.0,71.0,74.0,75.0,65.0,44.0,36.0,41.0,Maize fall armyworm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,186.0,187.0,186.0,187.0,186.0,185.0,186.0,186.0,186.0,184.0,...,168.0,165.0,167.0,166.0,170.0,171.0,169.0,174.0,173.0,Tomato verticulium wilt
769,230.0,232.0,231.0,230.0,226.0,230.0,230.0,233.0,230.0,231.0,...,210.0,209.0,208.0,207.0,207.0,206.0,205.0,205.0,202.0,Tomato verticulium wilt
770,199.0,194.0,201.0,200.0,200.0,196.0,200.0,102.0,87.0,95.0,...,179.0,176.0,180.0,179.0,179.0,180.0,166.0,173.0,174.0,Tomato verticulium wilt
771,75.0,51.0,94.0,105.0,132.0,212.0,214.0,215.0,214.0,216.0,...,172.0,185.0,190.0,189.0,189.0,192.0,193.0,191.0,193.0,Tomato verticulium wilt
772,187.0,188.0,186.0,183.0,184.0,185.0,183.0,185.0,184.0,182.0,...,181.0,178.0,177.0,177.0,177.0,180.0,174.0,180.0,178.0,Tomato verticulium wilt

In [25]:
X = data.drop("label",axis=1)
X

,0,1,2,3,4,5,6,7,8,9,...,6390,6391,6392,6393,6394,6395,6396,6397,6398,6399
0,182.0,181.0,184.0,189.0,193.0,189.0,177.0,174.0,167.0,155.0,...,134.0,117.0,110.0,91.0,78.0,77.0,66.0,64.0,80.0,97.0
1,182.0,181.0,181.0,183.0,184.0,188.0,190.0,193.0,193.0,185.0,...,96.0,99.0,100.0,93.0,97.0,101.0,104.0,99.0,97.0,90.0
2,113.0,112.0,108.0,98.0,88.0,95.0,106.0,119.0,132.0,147.0,...,141.0,139.0,132.0,129.0,129.0,125.0,121.0,115.0,110.0,111.0
3,119.0,118.0,115.0,111.0,111.0,111.0,110.0,110.0,111.0,111.0,...,70.0,69.0,64.0,49.0,32.0,23.0,28.0,41.0,53.0,62.0
4,77.0,81.0,88.0,87.0,90.0,94.0,71.0,56.0,59.0,48.0,...,67.0,70.0,67.0,71.0,74.0,75.0,65.0,44.0,36.0,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,186.0,187.0,186.0,187.0,186.0,185.0,186.0,186.0,186.0,184.0,...,168.0,168.0,165.0,167.0,166.0,170.0,171.0,169.0,174.0,173.0
769,230.0,232.0,231.0,230.0,226.0,230.0,230.0,233.0,230.0,231.0,...,210.0,210.0,209.0,208.0,207.0,207.0,206.0,205.0,205.0,202.0
770,199.0,194.0,201.0,200.0,200.0,196.0,200.0,102.0,87.0,95.0,...,181.0,179.0,176.0,180.0,179.0,179.0,180.0,166.0,173.0,174.0
771,75.0,51.0,94.0,105.0,132.0,212.0,214.0,215.0,214.0,216.0,...,166.0,172.0,185.0,190.0,189.0,189.0,192.0,193.0,191.0,193.0
772,187.0,188.0,186.0,183.0,184.0,185.0,183.0,185.0,184.0,182.0,...,180.0,181.0,178.0,177.0,177.0,177.0,180.0,174.0,180.0,178.0

In [27]:
y = data["label"]
y

0          Maize fall armyworm
1          Maize fall armyworm
2          Maize fall armyworm
3          Maize fall armyworm
4          Maize fall armyworm
                ...
768    Tomato verticulium wilt
769    Tomato verticulium wilt
770    Tomato verticulium wilt
771    Tomato verticulium wilt
772    Tomato verticulium wilt
Name: label, Length: 11113, dtype: object

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train ,y_test=train_test_split(X, y, random_state=42, test_size=0.2)

In [30]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [31]:
dt_classifier = DecisionTreeClassifier()
rf_classifier = RandomForestClassifier()
svm_classifier = SVC()
knn_classifier = KNeighborsClassifier()

In [32]:
classifiers={
    'decision_tree_model': dt_classifier, 
    'random_forest_model':rf_classifier, 
    'svm_model':svm_classifier, 
    'knn_mode':knn_classifier
}

In [33]:
for name, model in classifiers.items():
    model.fit(X_train, y_train) 
    m_predict=model.predict(X_test) 
    acc=accuracy_score(y_test, m_predict) 
    print(f"the accuracy score of {name} is {acc}")

the accuracy score of decision_tree_model is 0.3225371120107962
the accuracy score of random_forest_model is 0.46873594242015293
the accuracy score of svm_model is 0.44174538911381017

C:\Users\ree\AppData\Roaming\Python\Python311\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "C:\Users\ree\AppData\Roaming\Python\Python311\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "C:\Program Files\Python311\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Program Files\Python311\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "C:\Program Files\Python311\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

the accuracy score of knn_mode is 0.355825461088619